#root{
  min-height: 100vh;
  --c-primary: rgb(255, 182, 0);
  --c-secondery:#ffff;
  --c-primary-dark: rgba(255,182,0,.7);
  --f-navbar:1.25rem;
  --f-primary:1.7rem;
  --f-title:2.25rem;
  --f-subtitle:2rem;
  font-family: 'Vercetti','Catamaran', sans-serif;

}
.link{
  color: var(--c-primary);
}
/*--------------------------------------------------------------
  # SPINNER
--------------------------------------------------------------*/

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  color: var(--c-primary);
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.nav{
  z-index: 2;
   position: absolute !important;
  top: 0 !important;
  width: 100% !important;
}
.nav a {
  color: white;
  font-size: var(--f-navbar);
}
.nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}
/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/
#home{
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}
.section-title{
  display: flex;
  align-items: center;
}
.section-title h2{
  font-size: var(--f-title);
}

.section-link a{
  color:var(--c-primary);
  font-weight: 600;
  font-style: normal;
  font-size: var(--f-primary);
  letter-spacing: .05em;
  line-height: 0em;
  text-transform: none;
  text-decoration: none;
  padding-bottom: .05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--c-primary-dark);
}
.section-link:hover a{
  color:var(--c-primary-dark);
}

/*--------------------------------------------------------------
# HERO
--------------------------------------------------------------*/
.hero{
  position: relative;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.hero-image{
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: brightness(80%);

}
.hero-container{
  height: 400px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2); /* Dark overlay */

}
.hero-text{
  font-size:5rem;
  color:white;
  font-weight: 400;
}

/*--------------------------------------------------------------
# GALLERY
--------------------------------------------------------------*/

.category-image{
  aspect-ratio: 3/2;
}
/*--------------------------------------------------------------
# IMAGES PAGE
--------------------------------------------------------------*/
.list{
  columns: 300px;
}
.list img{
  width: 100%;
  cursor: pointer;

}
@media (min-width: 1200px) {
  .list {
    columns: 3;
  }
}
.image-container {
  overflow: hidden; /* Ensure animation doesn't go outside bounds */
}

.image-container .image {
  transform: scale(0.8); /* Start slightly zoomed out */
  opacity: 0;           /* Initially invisible */
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.image-container.in-view .image {
  transform: scale(1); /* Zoom to full size */
  opacity: 1;          /* Fully visible */
}
.category-btns-container .category-btns{
  transform: scale(0.2); /* Start slightly zoomed out */
  opacity: 0;           /* Initially invisible */
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
.category-btns-container.in-view .category-btns {
  transform: scale(1); /* Zoom to full size */
  opacity: 1;          /* Fully visible */
}
.category-btns{
  color:black;
  font-size: 3rem;
  border: none;
  background: none;
  cursor: pointer;
font-weight: 300;
}
/*--------------------------------------------------------------
# MODEL
--------------------------------------------------------------*/

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  position: relative;
  background: transparent;
  text-align: center;
  padding: 0;
  align-items: center;

}

.modal-image {
  max-width: 80vw;
  max-height: 80vh;
}

/* Buttons */
.close-btn,
.prev-btn,
.next-btn {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.close-btn {
  top: 10px;
  right: 10px;
}

.prev-btn {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.next-btn {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.close-btn:hover,
.prev-btn:hover,
.next-btn:hover {
  background: white;
  color: black;
}


/*--------------------------------------------------------------
# ABOUT
--------------------------------------------------------------*/
.about-text h2{
  font-size: 2.8rem;
}
.primary{
  font-size: var(--f-subtitle);
}
.secondary {
  font-size: var(--f-primary);
  font-weight: 400
}

/*--------------------------------------------------------------
# CONTACT
--------------------------------------------------------------*/


.list-item {
  line-height: 3;
  font-size: var(--f-primary);
}

.contact-list a {
  color: black;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-list a:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: var(--f-subtitle);
  text-align: center;

}

.social-media-list li a {
  color: #000000;
}

.social-media-list li {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 15px 6px;
  line-height: 80px;
  border-radius: 50%;
  color: #000000;
  background-color: var(--c-primary);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
  pointer-events: none;

}

.social-media-list li:hover {
  background-color: #000000;
  color:var(--c-primary);
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color:var(--c-primary);
}


hr {
  border-color: rgba(255,255,255,.6);
}

/*--------------------------------------------------------------
# 404 page
--------------------------------------------------------------*/

.error-container {
  text-align: center;
  font-size: 106px;
  font-weight: 800;
  margin: 70px 15px;
}
.error-container > span {
  display: inline-block;
  position: relative;
}
.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background:
          linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
          linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
          linear-gradient(to right, #d89ca4, #e27b7e);
}
.error-container > span.four:before,
.error-container > span.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
}
.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background:
          linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
          linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
          linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}
.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%,  transparent 51%, transparent 100%),
  linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
  overflow: hidden;
  animation: bgshadow 5s infinite;
}
.error-container > span.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background:
          linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
          linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}
.error-container > span.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

/* demo stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #FDFAF5;
  margin-bottom: 50px;
}

.title404 {
  text-align: center;
  margin: 30px 15px;
  color: #bbb;
}
.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #de7e85;
  padding: 10px 15px;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}